* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    width: 100%;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    padding: 0;
    text-align: center;
    border-radius: 0px;
    width: 34px;
    height: 34px;
    color: black;
}

.square.highlight {
    background: #0af72a;
}

.board-row::after {
    clear: both;
    content: '';
    display: table;
}

.status {
    align-items: start;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    align-items: start;
}

th {
    padding-top: 2px;
}

td {
    padding-right: 40px;
}